{% extends "base.html" %}

{% block content %}
<br>
<h1>Особенности</h1>
<table class="table">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>Завтрак</td>
      <td>Кофе с собой</td>
    </tr>
    <tr>
      <td>Еда на вынос</td>
      <td>Wi-fi</td>
    </tr>
    <tr>
      <td>Бизнес ланч</td>
      <td>Онлайн заказ</td>
    </tr>
  </tbody>
</table>
<br>
<h1>График работы</h1>
<table class="table">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>Ежедневно с с 07:00 до 20:00</td>
    </tr>
  </tbody>
</table>
<br>
<h1>Местоположение</h1>
<br>
<div style="position:relative;overflow:hidden;"><a
        href="https://yandex.ru/maps/11121/almetyevsk/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:0px;"></a><a
        href="https://yandex.ru/maps/11121/almetyevsk/?bookmarks%5Bpid%5D=work&bookmarks%5Buri%5D=ymapsbm1%3A%2F%2Fpin%3Fll%3D52.318497%252C54.885906&ll=52.318766%2C54.885879&utm_medium=mapframe&utm_source=maps&z=18.08"
        style="color:#eee;font-size:12px;position:absolute;top:14px;"></a>
    <iframe align="center" src="https://yandex.ru/map-widget/v1/-/CCUBn2RvXA" width="1400" height="400" frameborder="1"
            allowfullscreen="true" style="position:relative;"></iframe>
</div>
<br>
{% endblock %}