{% extends "base.html" %}

{% block content %}
<h2 style="color: #e3f2fd; font-size: 24px; font-family: Felix Titling">Напитки</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="static/img/kapp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Каппучино</h5>
          <a href="#" class="btn btn-primary">Добавить</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="static/img/espresso.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Эспрессо</h5>
          <a href="#" class="btn btn-primary">Добавить</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="static/img/americano.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Американо</h5>
          <a href="#" class="btn btn-primary">Добавить</a>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<h2 style="color: #e3f2fd; font-size: 24px; font-family: Felix Titling">Дессерты</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="static/img/croissant.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Круассаны</h5>
          <a href="#" class="btn btn-primary">Добавить</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="static/img/чизкейк.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Чизкейк</h5>
          <a href="#" class="btn btn-primary">Добавить</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="static/img/keks.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Кекс</h5>
          <a href="#" class="btn btn-primary">Добавить</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}